{% extends "master.html" %}

{% block title %}
  Welcome to ThatCompany!
{% endblock %}

{% block content %}
<div class="about-container">
  <img class="about-img" src='../static/images/group.jpg' alt="A group of friends walking in the city">
  <div class="about-text">  
      <p>ThatCompany started just over 5 years ago... and since then, we've been working hard to ensure that when our customers think
        of us, "happiness", "satisfaction", and "trend-setting" are the first things that come to mind! ThatCompany is your one-stop shop
        for everything you'll need in the world of fashion, tech gear, and collectibles.</p>
      <br>
  </div>
</div>
<div class="media-container">
  <div class="media-hero">  
    <p>ThatCompany started just over 5 years ago... and since then, we've been working hard to ensure that when our customers think
      of us, "happiness", "satisfaction", and "trend-setting" are the first things that come to mind! ThatCompany is your one-stop shop
      for everything you'll need in the world of fashion, tech gear, and collectibles.</p>
    <br><br>
  </div>
</div>
{% endblock %}
