{% extends "master.html" %}

{% block title %}
  Welcome to ThatCompany!
{% endblock %}

{% block content %}
  <br><br>
<div class="main-container">
  <div class="hero-text">  
    <h1 class="main-h1">Welcome!</h1>
      <p>Make yourself at home! ThatCompany prides itself on bringing you the very best for maximum satisfaction. Whether that be
        the latest in breaking technology, fashion, or trends, you can count on ThatCompany to deliver - literally!</p>
      <br><br>
      <div class="cta-text">
        <p>Check out just a few of our amazing <button class="call-to-action"><a href="members/">Members</a></button></p>
    </div>
  </div>
</div>
<div class="freespace">

</div>
{% endblock %}
